body{
    background-color: rgb(180, 159, 134);
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
}

#top{
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    font-size: 5vh;
    font-family: 'Satisfy', cursive;
}

#date1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-family: 'Montserrat', sans-serif;
    height: 20vh;
    line-height: 20vh;
}

#date2{
    height: 20vh;
    line-height: 20vh;
}

.task{
    color:black;
    text-align: left;
    transition: 0.4s;
}

.task:hover
{
    color: rgb(67, 80, 197);
}

.taskdone{
    color: rgb(36, 117, 79);
    text-decoration: line-through;
}
